<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">
            <a href="/home/add">Add Applicant</a>
            <br />
            <a href="/home/pending">View Pending</a>
            <br />
            <a href="/home/confirmed">View Confirmed</a>
            <br />
            <a href="/home/refused">View Refused</a>
        </div>
    </div>
</div>